
:local(.contextMenu) {
  display: flex;
}

:local(.link) {
  color: #002C87;
  text-decoration: none;
}

:local(.active) {
  color: #20abfa;
}

:local(.element) {
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  letter-spacing: 0.52px;
  color: #002C87;
  display: inline;
  margin-right: 50px;
  padding-bottom: 15px;
  text-transform: uppercase;
  border-bottom: 5px solid transparent;
  transition: border-color 0.4s ease;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    cursor: pointer;
    color: #20abfa;
    border-bottom: 5px solid #20ABFA;
  }

  &:visited {
    color: #002C87;
    text-decoration: none;
  }
}