@import '../../../../shared.scss';

@mixin margin {
  margin: 20px 0;
}

:local(.title) {
  @include font();
  font-weight: 100;
  font-size: 22px;
  border-bottom: 1px solid rgba(0, 44, 135, 0.2);
  padding-bottom: 21px;
  margin-bottom: 12px;
}

:local(.reimburse) {
  @include margin();
  background-color: #ffffff;
  color: #002C87;
  border: 1px solid rgba(0, 44, 135, 0.4);
}

:local(.requirements) {
  margin-top: 20px;
  margin-bottom: 30px;
}

:local(.buttonsContainer) > div {
  display: block;
  margin-bottom: 20px;
}

:local(.linkTradeBtn) {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  padding: 0;
}

:local(.tradeIdField) {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  input {
    width: 100%;
  }
}

:local(.linkedTrades) {
  margin-bottom: 20px;
}

:local(.tradeLink) {
  margin: 15px 0;
  > span {
    text-decoration: underline;
    &:hover {
      cursor: pointer;
    }
  }
}

:local(.linkTradesTitle) {
  color: rgba(0, 44, 135, 0.4);
  font-size: 13px;
}