@import '../../../shared.scss';

:local(.page) {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  background-color: #002a85;
  width:100%;
  height:100%;
  left: 0;
  top: 0;
  z-index:2;
}

:local(.group) {
  display: flex;
  flex-direction:column;
}

:local(.logo) {
  width: 180px;
  margin: 20px auto 0 auto;
  will-change: opacity;
  transform: translateZ(0);
  background: transparent;
}

:local(.smallLogo) {
  display: block;
  margin: 0 auto 60px auto;
}

:local(.smallLogoLink) {
  background-color: #002a85;
}
