@import "../../../shared";

:local(.modal) {
  @include font();
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4)
}

:local(.icon) {
  margin: 20px;
}

:local(.link) {
  @include link();
}

:local(.title) {
  @include font();
  font-weight: 100;
  font-size: 28px;
  margin-bottom: 20px;
}

:local(.inner) {
  text-align: center;
  box-sizing: border-box;
  display: flex;
  background-color: #F1FAFF;
  flex-direction: column;
  align-content: center;
  transform: translateX(-50%) translateY(-50%);
  position: fixed;
  left: 50%;
  top: 50%;
  width: 580px;
  height: 580px;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

:local(.description) {
  @include font();
  font-size: 16px;
}