:local(.title) {
  font-weight: 100;
  font-size: 28px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

:local(.requirements) {
  margin-bottom: 50px;
  > div {
    display: flex;
    justify-content: space-between;
  }
}

:local(.button) {
  margin-top: 10px;
}