@import '../../../../shared.scss';

@mixin margin {
  margin: 20px 0;
}

:local(.title) {
  font-weight: 100;
  font-size: 28px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

:local(.reimburse) {
  @include margin();
  background-color: #ffffff;
  color: #002C87;
  border: 1px solid rgba(0, 44, 135, 0.4);
}

:local(.requirements) {
  margin-bottom: 50px;
  > div {
    display: flex;
    justify-content: space-between;
  }
}
