@import '../.././shared.scss';

:local(.row) {
  display: flex;
  justify-content: space-between;
  height: 40px;
  overflow: hidden;
}

:local(.label) {
  font-family: 'Muli', sans-serif;
  color: #002c87;
  font-size: 15px;
  line-height: 40px;
  height: 40px;
  padding-right: 20px;

  &::after {
    content: ":"
  }
}

:local(.errorList) {
  list-style: none;
  padding: 0;
}

:local(.errorMessage) {
  padding: 0;
}

:local(.showErrors) {
  display: block;
  color: red;
}

:local(.hideErrors) {
  display:none;
}

:local(.value) {
  font-family: 'Muli', sans-serif;
  color: #002C87;
  border: 1px solid #002c87;
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding-left: 10px;
  overflow: hidden;

  &::placeholder {
    content: 'Fish';
    color: rgba(32, 171, 250, 0.42);
  }
}