@import '../../../../generic/Button/Button';

:local(.product) {
  position: relative;
  width: 263px;
  min-height: 401px;
  border-radius: 2px;
  background: white;
  overflow: hidden;
  margin: 10px;
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.15), 0 0 10px -2px rgba(0, 0, 0, 0.15);
  display: inline-block;
  transition: box-shadow 0.4s ease;

  &:hover {
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05), 0 0 20px 5px rgba(0, 0, 0, 0.1);
  }
}

:local(.category) {
  position: absolute;
  top: 10px;
  left: 0;
  display: block;
  background: white;
  border-radius: 0 3px 3px 0;
  font-size: 12px;
  padding: 4.5px 11px;
  color: #002c87;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
}

:local(.info) {
  padding: 13px 20px 20px 20px;
}

:local(.icon) {
  margin-right: 6px;
  font-size: 20px;
  vertical-align: -4px;
}

:local(.title) {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 0 14px 0;
  color: #002c87;
  font-family: 'Muli', sans-serif;
  font-size: 22px;
  min-height: 28px;
  font-weight: 400;
}

:local(.fieldsContainer) {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

:local(.link) {
  @include link();
}

:local(.buttons) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 87px;
}

:local(.productValue) {
  color: #002C87;
  font-size: 15px;
  display: block;
  text-align: right;
  flex-basis: 50%;
  margin-bottom: 13px;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
}

:local(.productLabel) {
  color: #9d9d9d;
  font-size: 13px;
  display: block;
  text-align: left;
  flex-basis: 50%;
  margin-bottom: 13px;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
}

:local(.button) {
  @include button(#002C87, #ffffff, 40px);
  @include button-border(#e0e0e0, 1px, solid);
  transition: background 0.5s ease, color 0.5s ease;

  &:hover {
    cursor: pointer;
    background: #002C87;
    color: #ffffff;
  }
}