:global {
  .fade-enter {
    opacity: 0;
    &.fade-enter-active {
      opacity: 1;
      transition: opacity 0.4s ease-in;
    }
  }

  .fade-leave {
    opacity: 1;
    &.fade-leave-active {
      opacity: 0;
      transition: opacity 0.4s ease-in;
    }
  }

  .fade-appear {
    opacity: 0;
    &.fade-appear-active {
      opacity: 1;
      transition: opacity 0.4s ease-in;
    }
  }
}
