@import url('https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i');
@import './stateless/shared';

:root {
  @include font();
}

html, body {
  width: 100%;
  height: 100%;
  width: -webkit-calc(100% - 0);
  height: -webkit-calc(100% - 0);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body * {
    box-sizing : border-box;
}

a {
  text-decoration: none;
}
