:local(.row) {
  display: inline-flex;
  width: 100%;
  height: 31px;
  font-family: 'Muli', sans-serif;
  font-size: 15px;
}

:local(.field) {
  min-width: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  padding-right: 20px;
  color: rgba(0, 44, 135, 0.4);
  &:after {
    content: ":"
  }
}

:local(.value) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: table-cell;
  font-size: 15px;
  text-align: right;
  color: rgba(0, 44, 135, 1);
}