@import '../../../shared';
@import '../../../generic/Button/Button';

@mixin column {
  display: flex;
  padding: 30px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  border-left: 1px solid rgba(0, 44, 135, 0.1);
}

:local(.requirementsColumn) {
  @include column();
  width: 25%;
}

:local(.typeColumn) {
  @include column();
  overflow: hidden;
  margin-right: 30px;
  width: 50%;
}

:local(.link) {
  margin-top: 20px;
  display: block;
  @include link();
}

:local(.batch) {
  text-align: end;
}

:local(.summaryColumn) {
  @include column();
  width: 25%;
  border: 0;
  background-color: rgba(32, 171, 250, 0.2);
  height: 100vh;
  flex-wrap: unset;
}

:local(.title) {
  @include font();
  text-transform: capitalize;
  font-size: 28px;
  font-weight: 100;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(0, 44, 135, 0.2);
}

:local(.info) {
  margin: 20px 0;
}

:local(.subtitle) {
  text-transform: uppercase;
  margin-bottom: 15px;
}

:local(.container) {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

:local(.image) {
  object-fit: cover;
  display: inline-block;
  padding-bottom: 40px;
}

:local(.statements) {
  margin: 40px 0;
  a {
    margin-top: 25px;
  }
}