@import '../../../../shared';

:local(.notification) {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 44, 135, 0.19);
  width: 337px;
  height: 67px;
  z-index: 1;
}

:local(.typeIcon) {
  width: 32px;
  height: 32px;
  margin-top: 5px;
}

:local(.typeApproved) {
  @extend :local(.typeIcon);
  background: url('/static/images/transaction-approved.svg') no-repeat;
}

:local(.typePending) {
  @extend :local(.typeIcon);
  background: url('/static/images/transaction-pending.svg') no-repeat;
}

:local(.typeNotApproved) {
  @extend :local(.typeIcon);
  background: url('/static/images/transaction-rejected.svg') no-repeat;
  left: 11px;
  top: 24px;
}

:local(.read) {
  background-color: red;
}

:local(.unread) {
  background-color: #F5FAFD;
}

:local(.header) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

:local(.status) {
  font-size: 13px;
}

:local(.statusValue) {
  text-transform: capitalize;
  font-size: 13px;
}

:local(.time) {
  font-size: 11px;
  color: rgba(0, 44, 135, 0.4);
}

:local(.type) {
  @include font-semi();
  font-size: 17px;
}

:local(.address) {
  font-size: 13px;
  color: rgba(0, 44, 135, 0.4);
  overflow: hidden;
  text-overflow: ellipsis;
}

:local(.approved) {
  @include font-semi();
  color: #8BC34A;
}

:local(.pending) {
  @include font-semi();
  color: #F8A900;
}

:local(.notApproved) {
  @include font-semi();
  color: #D14B4B;
}

:local(.description) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
  width: 269px;
}