@import '../../../generic/Button/Button';
@import '../../../shared';

:local(.saveButton) {
  @include button(#ffffff, #002c87, 40px);
  width: 200px;
}

:local(.cancelButton) {
  @include button(#002C87, #ffffff, 40px);
  @include button-border(#002c87, 1px);
  width: 200px;
  margin: 0 20px;
}

:local(.addStatement) {
  width: 300px;
}

:local(.form) {
  margin-top: 20px;
}

:local(.list) {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

:local(.uploadFileWrapper) {
  @include button(#002C87, #ffffff, 40px);
  @include button-border(#002c87, 1px);
  position: relative;
  display: inline-flex;
  width: 200px;
  height: 40px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

:local(.uploadFile) {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}