:local(.statementInput) {
  color: rgba(0, 44, 135, 1);
  border-radius: 2px;
  border: 1px solid rgba(0, 44, 135, 0.29);
  width: 600px;
  height: 120px;
  textarea {
    resize: none;
  }
}

:local(.removeIcon) {
  &:hover {
    cursor: pointer;
  }
}

:local(.row) {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}

:local(.fileIcon) {
  display: inline-block;
  height: 140px;
  width: auto;
  transform: translateX(-18px);
}

:local(.fileDescription) {
  width: 600px;
}

:local(.statementInfo) {
  display: flex;
  flex-direction: row;
  align-items: center;
}

:local(.descriptionField) {
  margin-bottom: 10px;
}