@import '../../../generic/Button/Button';
@import '../../../shared';

:local(.cancelButton) {
  @include button(#002C87, #ffffff, 40px);
  @include button-border(#002c87, 1px);
  width: 200px;
  margin: 0 20px;
}

:local(.top) {
  width: 762px;
}

:local(.selector) {
  margin: 0 0 10px !important;
}

:local(.saveButton) {
  @include button(#ffffff, #002c87, 40px);
  width: 200px;
}

:local(.textField) {
  margin-bottom: 15px;
}

:local(.paragraph) {
  @include font();
}

:local(.column) {
  width: 50%;
}

:local(.name) {
  width: 750px;
}

:local(.table) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 120px;
  margin: 20px 0;
}

:local(.field) {
  margin: 10px;
}

:local(.properties) {
  margin-top: 20px;
}

:local(.verticalContainer) {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

:local(.label) {
  margin-bottom: 10px !important;
}

:local(.imageContainer) {
  width: 360px;
  height: 276px;
  margin-right: 28px;
  border: 1px solid rgba(0, 44, 135, 0.31);
  cursor: pointer;
}

:local(.horizontalContainer) {
  display: flex;
  height: 274px;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  overflow: hidden;
}

:local(.container) {
  width: 762px;
  display: flex;
  flex-direction: row;
}