@import '../../../generic/Button/Button';
@import '../../../shared';

:local(.row) {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}

:local(.saveButton) {
  @include button(#ffffff, #002c87, 40px);
  width: 200px;
}

:local(.cancelButton) {
  @include button(#002C87, #ffffff, 40px);
  @include button-border(#002c87, 1px);
  width: 200px;
  margin: 0 20px;
}

:local(.addParticipant) {
  width: 300px;
}

:local(.form) {
  margin-top: 20px;
}

:local(.list) {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
