:local(.participantInput) {
  color: rgba(0, 44, 135, 1);
  border-radius: 2px;
  border: 1px solid rgba(0, 44, 135, 0.29);
  width: 600px;
}

:local(.removeIcon) {
  &:hover {
    cursor: pointer;
  }
}

:local(.participantRow) {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}
